*{
    margin: 0;
    padding: 0;
}


header{
background-color:  #333F50;
height: 50px;
text-align: center;



}


h1{
    color: aliceblue;
}

#caja
{
    
margin-top: 20px;
margin-left: 31%;
padding: 5px;
width: 420px;
background-color: rgb(162, 209, 108);
border-radius: 15px 0px 15px 0px;
}
